@charset "UTF-8";

/*================
  * colors
================*/
$white: #FFF;
$black: #000;
$nomal-black: #333;
$light-black: #666;
$heavy-gray: #777;
$gray: #999;
$light-gray: #CCC;
$red: #DC0011;
$light-blue: #E2E6EA;
$primary-blue: #1C719A;

/******************
 * Reset & Adjust
 ******************/
/* iPadサブミットボタン修正 */
input[type="submit"], input[type="button"], input[type="image"], input[type="text"], input[type="search"]{-webkit-appearance:none;}

/* 自動改行 */
body{word-wrap: break-word; font-weight:500;}

/* base font */
body, button, input[type="submit"]{font-family:"游ゴシック","YuGothic","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;}

/* rollover */
#logo a img, #header a img, article a img, .alpha a img, .alpha a
{-webkit-transition: all 0.3s ease; transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
#logo a:hover img, #header a img:hover, article a:hover img, .alpha a:hover, .alpha a:hover img, .alpha input[type="image"]:hover, .alpha input[type="submit"]:hover
{opacity:0.8; filter:alpha(opacity=80); -ms-filter:"alpha( opacity=80 )";}
a:hover{text-decoration:none;}

/* group */
.link{cursor:pointer;}

/* flexbox */
.flex{ display:flex;}
.flex-wrap{ flex-wrap: wrap; }

/* btn */
.btn{-webkit-transition: all 0.3s ease; transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; text-align:center; position:relative; white-space: normal;
margin:0 auto; display:block; padding:7px 25px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; color:#fff;}
/*
.btn:before{content:" "; width:9px; height:9px; border-top:2px solid #fff; border-right:2px solid #fff; position:absolute; top:0; bottom:2px; margin:auto; right:17px;
-webkit-transform:rotate(45deg); transform:rotate(45deg); -moz-transform:rotate(45deg);}
.btn-back:before, .arrow-back:before{left:17px; right:auto; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); -moz-transform:rotate(-135deg);}
*/

.btn:hover{text-decoration:none; color:#fff;}

.btn-orange{background:#eeeeee; color:#fff; border:none;}
.btn-orange:hover, .btn-orange:active{background:#ffffff;}

.btn-blue{background:#1385c3; color:#fff;}
.btn-blue:hover, .btn-blue:active{background:#109dea;}

.btn-water{background:#1cbbbb; color:#fff;}
.btn-water:hover, .btn-water:active{background:#5fc8c8;}

.btn-yellow{background:#da9716; color:#fff;}
.btn-yellow:hover, .btn-yellow:active{background:#f8a505;}

.btn-light-yellow{background:#c7c51c; color:#fff;}
.btn-light-yellow:hover, .btn-light-yellow:active{background:#e9e71a;}

.btn-green{background:#72b24b; color:#fff;}
.btn-green:hover, .btn-green:active{background:#7dce4b;}

.btn-navy{background:#3b578d; color:#fff;}
.btn-navy:hover, .btn-navy:active{background:#5173b3;}

.btn-light-blue{background:#489ca6; color:#fff;}
.btn-light-blue:hover, .btn-light-blue:active{background:#49b3bf;}

.btn-back{background:#333; color:#fff;}
.btn-back:hover, .btn-back:active{background:#444;}

.btn-red{background:#d82222; color:#fff; border:none;}
.btn-red:hover, .btn-red:active{background:#f43838;}

.btn-purple{background:#bf30c4; color:#fff; border:none;}
.btn-purple:hover, .btn-purple:active{background:#db3de1;}

/* margin */
.mt0{margin-top:0!important;}
.mt5{margin-top:5px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px!important;}
.mt50{margin-top:50px!important;}
.mt60{margin-top:60px!important;}
.mr0{margin-right:0!important;}
.mr10{margin-right:10px!important;}
.mb0{margin-bottom:0!important;}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb20{margin-bottom:20px!important;}
.mb30{margin-bottom:30px!important;}
.mb40{margin-bottom:40px!important;}
.mb50{margin-bottom:50px!important;}
.mb60{margin-bottom:60px!important;}
.ml0{margin-left:0!important;}
.ml10{margin-left:10px!important;}

.mrl1{margin-right:1% !important; margin-left:1% !important;}
.mrl2{margin-right:2% !important; margin-left:2% !important;}


/* padding */
.p0{padding:0!important;}
.p5{padding:5px!important;}
.p10{padding:10px!important;}
.p20{padding:20px!important;}
.pt0{padding-top:0!important;}
.pt10{padding-top:10px!important;}
.pt20{padding-top:20px!important;}
.pb0{padding-bottom:0!important;}
.pb10{padding-bottom:10px!important;}
.pb20{padding-bottom:20px!important;}
.pb30{padding-bottom:30px!important;}
.pb40{padding-bottom:40px!important;}

.prl1{padding-right:1% !important; padding-left:1% !important;}
.prl2{padding-right:2% !important; padding-left:2% !important;}

/* border-radius */
.br2{border-radius:2px;}
.br3{border-radius:3px;}
.br5{border-radius:5px;}
.br10{border-radius:10px;}

/* visible/hidden */
.visible-767, .visible-600, .visible-480, .visible-310{display:none!important;}
@media screen and (max-width:767px){
	.visible-767{display:block!important;}
	.hidden-767{display:none!important;}
}
@media screen and (max-width:600px){
	.hidden-600{display:none!important;}
	.visible-600{display:block!important;}
}
@media screen and (max-width:480px){
	.hidden-480{display:none!important;}
	.visible-480{display:block!important;}
}
@media screen and (max-width:310px){
	.visible-310{display:block!important;}
}

/* display */
.inline-block{display:inline-block!important;}

/* scroll */
.scroll-y{max-height:400px; overflow-y:auto;}

/* width/height */
.w150{width:150px!important;}
.w90per{width:90%!important;}
.w95per{width:95%!important;}
.w100per{width:100%!important;}
.max-w200{max-width:200px!important;}
.max-w250{max-width:250px!important;}
.max-w300{max-width:300px!important;}
.max-w500{max-width:500px!important;}
.max-w100per{max-width:100%!important;}
.min-h100{min-height:100px!important;}

/* font-size */
.fs-xxlarge{font-size:xx-large!important;}
.fs-xlarge{font-size:x-large!important;}
.fs-large{font-size:large!important;}
.fs-small{font-size:small!important;}
.bold{ font-weight: bold!important; }
.nomal{ font-weight: 400; }

/* frame */
.main-contents{margin-top: 20px; background-color: #FFF;}
.border-frame-gray{border:1px solid #ccc; padding:20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.frame-orange{background:#ea8b1b; color:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:block; margin:20px auto;}
.b-radius4{border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.edit-content{background-color: $white; padding: 20px; border-radius:5px;}

/* hr */
hr{height:6px; background: url(/images/common/hr.png) repeat-x 0 0; border: 0;}
